@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  /* --- Colors --- */
  --color-accent: #FF6B00;
  --color-white: #FFFFFF;
  --color-gray-100: #E8E8E8;
  --color-gray-300: #BFBFBF;
  --color-gray-500: #4F4F4F;
  --color-dark-200: #2B2B2B;
  --color-dark-100: #1E1E1E;
  --color-black: #000000;
  --color-gold: #FFD700;

  /* --- Gradient --- */
  --color-bg-gradient: linear-gradient(
   to bottom,
   #1e1e1e 15%,
   #6F3913 70%,
   #B1500A 90%,
   #FF6B00 98%,
   #FF964B 100%
  );

  /* --- Shadow --- */
  --shadow-dark: color-mix(in srgb, #000000 40%, transparent);

  /* --- Fonts --- */
  --font-title: 'Oswald', sans-serif;
  --font-text: 'Lato', sans-serif;
}

html, body {
  background-color: var(--color-dark-100);
  overflow-x: hidden;
}

/* --- Light Theme Config */

body[data-theme="light"] {
    --color-dark-100: #F7F7F7;
    --color-dark-200: #D9D9D9;
    --color-white: #1E1E1E;
    --color-gray-500: #E8E8E8;
    --color-gray-300: #FF6B00;

    --color-bg-gradient: linear-gradient(
        to bottom,
        #F7F7F7 15%,
        #FF964B 70%,
        #FF6B00 90%,
        #B1500A 98%,
        #6F3913 100%
    );
}

/* --- Header --- */
.header{
  width: 100vw;
  height: 8vh;
  background-color: var(--color-gray-500);
  position: fixed;
  z-index: 10000;
  box-shadow: 0 1px 5px var(--shadow-dark);
}

.header__nav{
  width: 100%;
  height: 100%;
  display: flex;
}

.header__nav-list{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  gap: 5rem;
}

.header__nav-item-link{
  position: relative;
  padding-bottom: 5px;
}

.header__nav-item-link::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s ease;
}

.header__nav-item-link:hover::after{
  width: 100%;
}

.header__nav-item{
  font-family: var(--font-text);
  font-size: 1.25rem;
  color: var(--color-accent);
}

.header__controls{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  gap: 1rem;
}

.header__control-btn {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__control-btn > svg{
  width: 50%;
  height: 50%;
  color: var(--color-accent);
}

/* --- Home --- */
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-shadow: inset 0 -5px 0 0 var(--color-accent);
}

.home__image-wrapper{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title-wrapper{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0 4rem .5rem;
  isolation: isolate;
}

.home__title{
  display: flex;
  font-family: var(--font-title);
  font-weight: 500;
  font-size: clamp(4rem, 15vw, 12rem);
  letter-spacing: .65rem;
  line-height: 1;
  text-transform: lowercase;
}
.home__title-word{
  position: relative;
  display: inline-block;
  z-index: 1;
  transform: skewX(-15deg);
}

.home__title-word::after{
  content: attr(data-text);
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--shadow-dark);
  z-index: -1;
  transform: skewX(-30deg) translate(45px, -12px);
  pointer-events: none;
  white-space: nowrap;
}

.home__title-word--white{
  color: var(--color-white);
}

.home__title-word--orange{
  color: var(--color-accent);
}

/* --- About --- */
.about {
  opacity: 0.8;
  background-image:   linear-gradient(135deg, var(--color-dark-200) 25%, transparent 25%), linear-gradient(225deg, var(--color-dark-200) 25%, transparent 25%), linear-gradient(45deg, var(--color-dark-200) 25%, transparent 25%), linear-gradient(315deg, var(--color-dark-200) 25%, var(--color-dark-100) 25%);
  background-position:  160px 0, 160px 0, 0 0, 0 0;
  background-size: 310px 310px;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.about__picture-wrapper{
  width: 40%;
  height: 100%;
  position: relative;
}

.about__picture-shadow,
.about__picture-frame,
.about__picture-img {
  position: absolute;
  border-radius: 50%;
}

.about__picture-shadow{
  width: 415px;
  height: 415px;
  top: 28%;
  left: 10%;
  background-color: var(--shadow-dark); 
  z-index: 1;
}

.about__picture-frame{
  width: 415px;
  height: 415px;
  top: 24%;
  left: 14%;
  border: 1px solid var(--color-accent);
  z-index: 2;
}

.about__picture-img{
  width: 400px;
  height: 400px;
  top: 25%;
  left: 15%;
  z-index: 3;
}

.about__text-wrapper{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}

.about__text-wrapper > h1{
  width: 100%;
  height: auto;
  font-family: var(--font-title);
  color: var(--color-white);
  font-size: 5vw;
  font-weight: 400;
}

.about__text-wrapper > h1::after{
  content: '';
  display: block;
  width: 13%;
  height: 10px;
  background-color: var(--color-accent);
}

.about__text-wrapper > p{
  width: 90%;
  height: auto;
  font-family: var(--font-text);
  color: var(--color-white);
  font-size: 1.75vw;
  font-weight: 400;
  text-align: justify;
}

.about__highlight{
  color: var(--color-accent);
}

/* --- Skills --- */
.skills {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.skills__list{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.skills__group > h3{
  width: 100%;
  height: auto;
  font-family: var(--font-title);
  color: var(--color-accent);
  font-size: 5vh;
  padding-left: 1vw;
  display: flex;
  align-items: end;
}

.skills__group--hard{
  width: 100%;
  height: 60%;
}

.skills__grid{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skills__bar{
  width: 30%;
  height: 15%;
  background-color: var(--color-dark-200);
  border-radius: 10px;
  font-family: var(--font-text);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.skills__bar:hover {
   background-color: var(--color-gray-500);
}

.skills__bar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-gray-500);
  border-radius: 10px;
  z-index: -1;
  transition: width 7s ease-in-out;
}

.skills__bar.active::before{
  width: 100%;
}

.skills__group--soft{
  width: 100%;
  height: 30%;
}

.skills__soft-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem; 
  padding: 1rem 0;
}

.skills__soft-tag {
  --s: 25px; 
  background-color: var(--color-gray-500);
  clip-path: polygon(0 0, calc(100% - var(--s)) 0, 100% 50%, calc(100% - var(--s)) 100%, 0 100%, var(--s) 50%);

  color: var(--color-white);
  font-family: var(--font-text);
  font-weight: 500;
  text-align: center; 
  height: 65px;
  line-height: 65px;
  padding-left: calc(var(--s) + 1rem);
  padding-right: calc(var(--s) + 1rem);
}

.skills__display{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 2vh;
}

.skills__display-logo-wrapper{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.skills__display-logo {
   width: 80%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: end;   transition: opacity 0.5s ease-in-out;
}

.skills__display-logo > img {
   width: 100%;
   height: 100%;
}

.skills__display-title{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__display-title > h1{
  font-family: var(--font-title);
  color: var(--color-white);
  font-size: 5vh;
  letter-spacing: .2rem;
}

.skills__display-stars{
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.star { 
  width: auto;
  height: 80%;
}

.star polygon {
  fill: none;
  stroke: var(--color-gold); 
  stroke-width: 2;  stroke-linejoin: round;
  stroke-linecap: round;
}

.star.filled polygon{
  fill: var(--color-gold);
  stroke: var(--color-gold);
}

/* --- Projects --- */
.projects{
  width: 100vw;
  height: auto;
  display: flex;
}


/* --- Contact --- */
.contact {
  width: 100vw;
  height: 95vh;
  display: flex;

  background: var(--color-bg-gradient);
  position: relative;
  z-index: 1;
}

.background-waves{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1; 
  height: 75%;
}

.background-waves path{
    fill: var(--color-accent);
}

.light-dot {
   position: absolute;
   width: 30px;
   height: 30px;
   background-color: var(--color-accent);
   border-radius: 50%;
   filter: blur(6px) saturate(75%);
   z-index: 0;
}

.dot-1 {
   top: 0px;
   left: 150px;
   width: 40px;
   height: 40px;
   opacity: 0.7;
}

.dot-2 {
   top: 200px;
   right: 100px;
   width: 25px;
   height: 25px;
   opacity: 0.8;
}

.dot-3 {
   bottom: 100px;
   left: 50%;
   transform: translateX(-50%);
   width: 50px;
   height: 50px;
   opacity: 0.6;
}

.dot-4 {
   top: 50%;
   left: 20%;
   width: 35px;
   height: 35px;
   opacity: 0.5;
}

.dot-5 {
   top: 10%;
   left: 40%;
   width: 45px;
   height: 45px;
   opacity: 0.8;
}

.dot-6 {
   bottom: 25%;
   right: 30%;
   width: 30px;
   height: 30px;
   opacity: 0.7;
}

.dot-7 {
   top: 70%;
   left: 2%;
   width: 55px;
   height: 55px;
   opacity: 0.6;
}

.dot-8 {
   top: -10%;
   right: 39%;
   width: 20px;
   height: 20px;
   opacity: 0.9;
}

.dot-9 {
   bottom: 10%;
   left: 80%;
   width: 40px;
   height: 40px;
   opacity: 0.75;
}

.contact__image-wrapper{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
}

.contact__image{
  width: 95%;
  height: 95%;
}

.contact__form-wrapper{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__title{
  width: 100%;
  height: auto;
  font-family: var(--font-title);
  color: var(--color-accent);
  font-size: 8vh;
}

.contact__form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 2vh;
}

.contact__input{
  width: 85%;
  height: 12%;
  font-family: var(--font-text);
  border: 3px solid var(--color-gray-300);
  border-radius: 5px;
  padding: 0 1rem;
  color: var(--color-white);
}

.contact_textarea{
  width: 85%;
  height: 40%;
  font-family: var(--font-text);
  border: 3px solid var(--color-gray-300);
  border-radius: 5px;
  padding: 1rem 1rem;
  color: var(--color-white);
  resize: none;
}

.contact__input::placeholder,
.contact_textarea::placeholder{
  color: var(--color-gray-300);
}

.contact__button-group{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  gap: 3%;
}

.contact__button{
  height: 70%;
}

.contact__button > svg{
  width: 100%;
  height: 100%;
}

.contact__button--github svg g,
.contact__button--linkedin svg path {
    fill: var(--color-white);
}

.contact__button--subimit{
  width: 45%;
  height: 90%;
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-white);
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 3vh;
}

.contact__button--subimit, .contact__button--linkedin, .contact__button--github {
  cursor: pointer;
}

/* --- Theme Transitions --- */

body, .header, .skills__bar, .contact__input, .contact_textarea {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.home__title-word, .about__text-wrapper > h1, .about__text-wrapper > p, .skills__group > h3, .skills__display-title > h1, .contact__input, .contact_textarea, .skills__soft-tag {
  transition: color 0.3s ease;
}

.contact__button--github svg g, .contact__button--linkedin svg path {
  transition: fill 0.3s ease;
}