@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --color-primary: #FF6B00;
  --color-secondary: #006D77;
  --color-shadow: #121212;
  --color-dark: #1E1E1E;
  --color-dark-gray: #2B2B2B;
  --color-gray: #4F4F4F;
  --color-light-gray: #bfbfbf;
  --color-white: #ffffff;
  --color-star-fill: #FFD700;

  --font-title: 'Oswald', sans-serif;
  --font-text: 'Lato', sans-serif;
}

html, body {
  background-color: var(--color-dark);
  overflow-x: hidden;
}

/* --- Header --- */
.header{
  display: none;
  width: 100vw;
  height: 8vh;
  background-color: var(--color-gray);
  position: fixed;
  z-index: 10000;
}

.header__nav{
  width: 100%;
  height: 100%;
  display: flex;
}

.header__nav-list{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  gap: 5rem;
}

.header__nav-item{
  font-family: var(--font-text);
  font-size: 1.25rem;
  color: var(--color-primary);
}

.header__controls{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  gap: 1rem;
}

.header__control-btn {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__control-btn > svg{
  width: 50%;
  height: 50%;
  color: var(--color-primary);
}

/* --- Home --- */
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-shadow: inset 0 -5px 0 0 var(--color-primary);
}

.home__image-wrapper{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title-wrapper{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0 4rem .5rem;
  isolation: isolate;
}

.home__title{
  display: flex;
  font-family: var(--font-title);
  font-weight: 500;
  font-size: clamp(4rem, 15vw, 12rem);
  letter-spacing: .65rem;
  line-height: 1;
  text-transform: lowercase;
}
.home__title-word{
  position: relative;
  display: inline-block;
  z-index: 1;
  transform: skewX(-15deg);
}

.home__title-word::after{
  content: attr(data-text);
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--color-shadow);
  z-index: -1;
  transform: skewX(-30deg) translate(45px, -12px);
  pointer-events: none;
  white-space: nowrap;
}

.home__title-word--white{
  color: var(--color-white);
}

.home__title-word--orange{
  color: var(--color-primary);
}

/* --- About --- */
.about {
  opacity: 0.8;
  background-image:  linear-gradient(135deg, #2B2B2B 25%, transparent 25%), linear-gradient(225deg, #2B2B2B 25%, transparent 25%), linear-gradient(45deg, #2B2B2B 25%, transparent 25%), linear-gradient(315deg, #2B2B2B 25%, #1E1E1E 25%);
  background-position:  160px 0, 160px 0, 0 0, 0 0;
  background-size: 310px 310px;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.about__picture-wrapper{
  width: 40%;
  height: 100%;
  position: relative;
}

.about__picture-shadow,
.about__picture-frame,
.about__picture-img {
  position: absolute;
  border-radius: 50%;
}

.about__picture-shadow{
  width: 415px;
  height: 415px;
  top: 28%;
  left: 10%;
  background-color: var(--color-shadow);
  z-index: 1;
}

.about__picture-frame{
  width: 415px;
  height: 415px;
  top: 24%;
  left: 14%;
  border: 1px solid var(--color-primary);
  z-index: 2;
}

.about__picture-img{
  width: 400px;
  height: 400px;
  top: 25%;
  left: 15%;
  z-index: 3;
}

.about__text-wrapper{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}

.about__text-wrapper > h1{
  width: 100%;
  height: auto;
  font-family: var(--font-title);
  color: var(--color-white);
  font-size: 5vw;
  font-weight: 400;
}

.about__text-wrapper > h1::after{
  content: '';
  display: block;
  width: 13%;
  height: 10px;
  background-color: var(--color-primary);
}

.about__text-wrapper > p{
  width: 90%;
  height: auto;
  font-family: var(--font-text);
  color: var(--color-white);
  font-size: 1.75vw;
  font-weight: 400;
  text-align: justify;
}

.about__highlight{
  color: var(--color-primary);
}

/* --- Skills --- */
.skills {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.skills__list{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skills__group > h3{
  width: 100%;
  height: 20%;
  font-family: var(--font-title);
  color: var(--color-primary);
  font-size: 5vh;
  padding-left: 1vw;
  display: flex;
  align-items: end;
}

.skills__group--hard{
  width: 100%;
  height: 60%;
}

.skills__grid{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skills__bar{
  width: 30%;
  height: 15%;
  background-color: var(--color-dark-gray);
  border-radius: 10px;
  font-family: var(--font-text);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.skills__bar:hover {
    background-color: var(--color-gray);
}

.skills__bar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-gray);
  border-radius: 10px;
  z-index: -1;
  transition: width 7s ease-in-out;
}

.skills__bar.active::before{
  width: 100%;
}

.skills__group--soft{
  width: 100%;
  height: 40%;
}

.skills__soft-grid{
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 3%;
}

.skills__soft-grid > p{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
  color: var(--color-white);
}

.skills__soft-tag {
  --s: 25px;
  line-height: 5;
  padding-inline: calc(var(--s) + .3em);
  clip-path: polygon(0 0,calc(100% - var(--s)) 0,100% 50%,calc(100% - var(--s)) 100%,0 100%,var(--s) 50%);
  background-color: var(--color-gray);
  width: fit-content;
}

.skills__display{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skills__display-logo-wrapper{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.skills__display-logo {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: end;    
    transition: opacity 0.5s ease-in-out;
}

.skills__display-logo > img {
    width: 90%;
    height: 90%;
}

.skills__display-title{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__display-title > h1{
  font-family: var(--font-title);
  color: var(--color-white);
  font-size: 5vh;
  letter-spacing: .2rem;
}

.skills__display-stars{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.star { 
  width: auto;
  height: 80%;
}

.star polygon {
  fill: none;
  stroke: var(--color-star-fill);
  stroke-width: 2;        
  stroke-linejoin: round;
  stroke-linecap: round;
}

.star.filled polygon{
  fill: var(--color-star-fill);
  stroke: var(--color-star-fill);
}